@{
    ViewData["Title"] = "PETLOVER-Acupuntura";
}
<link rel="stylesheet" href="~/css/style.css" />

<body style="background-color:#16191C;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h1 style="color: white;">Acupuntura</h1>
            <p style="color: white;">La Acupuntura Veterinaria actúa complementando en conjunto a diversas especialidades de la profesión, viendo al individuo como un todo, armonizado y equilibrándolo internamente de una manera personalizada, a fin de mejorar su calidad de vida.</p>
            <p style="color: white;">La Acupuntura en  Veterinaria está indicada para los siguientes casos: Alteraciones Locomotoras, Rehabilitaciones Quirúrgicas, Neurología (AVC, parálisis, Síndromes Vestibulares), Trastornos Respiratorios, Dermatología, Trastornos Cardiovasculares, Trastornos Digestivos, Disturbios Genito-Urinarios, Oncología, entre otras.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/acup1.jpg" class="responsive">
            </div>
        </div>
    </div>

</body>


