@{
    ViewData["Title"] = "PETLOVER-Cardiología";
}
<link rel="stylesheet" href="~/css/style.css" />

<body style="background-color:#16191C;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h1 style="color: white;">Cardiología</h1>
            <p style="color: white;">Los exámenes cardiológicos periódicos, principalmente en animales adultos y ancianos, se han vuelto una práctica necesaria, ya que la identificación y tratamiento de enfermedades cardíacas de manera oportuna, podría aumentar la expectativa de vida de nuestras mascotas.</p>
            <p style="color: white;">Además de evaluaciones periódicas, todo paciente que necesite ser sometido a un procedimiento quirúrgico, debería pasar por una evaluación preoperatoria que involucre una evaluación cardiológica. Esta evaluación proporciona datos importantes para la realización de la cirugía.</p>
            <p style="color: white;">Contamos con servicio de electrocardiografía, medición de presión arterial y ecocardiografía transtorácica con mapeo de flujo a color y capacidad de realizar estudios por Doppler.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/cardio1.jpg" class="responsive">
            </div>
        </div>
    </div>

</body>


