@{
    ViewData["Title"] = "PETLOVER-Cirugia";
}
<link rel="stylesheet" href="~/css/style.css" />

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h1>Cirugía General</h1>
            <p>Nuestros profesionales se encuentran capacitados para realizar todo tipo de cirugías generales, desde castraciones, esterilizaciones, piometras, cesáreas hasta extracción de tumores superficiales o infiltrados. Nuestros pacientes siempre están acompañados por anestesistas veterinarios y equipos de monitoreo en el quirófano, proporcionándoles el máximo de seguridad.</p>
            <p>Todos nuestros profesionales han sido capacitados en las diferentes ramas de la cirugía y junto con las capacidades y talentos de nuestro staff, así como su actualización constante, están en la capacidad de resolver todas las situaciones médicas y quirúrgicas que se presenten. Confíe en nosotros.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/ciru1.jpg" class="responsive">
            </div>
        </div>
    </div>

</body>


