@{
    ViewData["Title"] = "PETLOVER-Dermatologia";
}
<link rel="stylesheet" href="~/css/style.css" />

<body style="background-color:#16191C;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h1 style="color: white;">Dermatologia</h1>
            <p style="color: white;">Los problemas dermatológicos a menudo son extremadamente frustrantes por lo cual  requieren de especialistas para poder ser resueltos.</p>
            <p style="color: white;">En PetLover Veterinaria contamos con años de experiencia y miles de casos resueltos, además estamos en continua actualización para estar al día en los últimos tratamientos. </p>
            </div>
            <div class="col-md-5">
                <img src="/img/derm1.png" class="responsive">
            </div>
        </div>
    </div>

</body>


