@{
    ViewData["Title"] = "PETLOVER-Odontologia";
}
<link rel="stylesheet" href="~/css/style.css" />

<body style="background-color:#16191C;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h1 style="color: white;">Odontología</h1>
            <p style="color: white;">Las mascotas también producen sarro dental y así como los humanos, requieren evaluaciones periódicas. Los principales signos de problemas orales en perros y gatos son: mal olor en la boca, sangrado de encías, salivación intensa, presencia de dolor, dificultad para masticar o tragar alimentos, presencia de dientes flojos, entre otros.</p>
            <p style="color: white;">Recuerda hacerle un chequeo odontológico anual a tu mascota. Usualmente, el perro de tamaño medio, grande y gigante empieza a sufrir de sarro y placa a partir de los 3 años de edad, mientras que las razas toy o pequeñas suelen empezar a desarrollarlo antes. En cualquiera de los casos, implementar una rutina de higiene temprana, es crucial para evitar enfermedades.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/odon1.jpg" class="responsive">
            </div>
        </div>
    </div>

</body>


