@{
    ViewData["Title"] = "PETLOVER-Peluqueria";
}
<link rel="stylesheet" href="~/css/style.css" />

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h1>Peluqueria</h1>
            <p>De domingo a domingo engreímos a su mascota en nuestra peluquería canina, donde nuestros experimentados groomers le ofrecerán un servicio de alta calidad. Desde baños cosméticos hasta medicados; desde cortes según raza, rebajado, corte higiénico hasta rapados, todo lo que su mascota necesite. Aseguramos la calidad del servicio y el cuidado de tu mascota, con un monitoreo por cámaras de seguridad. Confía en nosotros.</p>
            <p>Recuerda que el baño debe ser cada 15 a 20 días y el cepillado es importante para evitar la formación de motas.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/pel1.jpg" class="responsive">
            </div>
        </div>
    </div>

</body>


