@{
    ViewData["Title"] = "PetLover-Tienda";
}
<link rel="stylesheet" href="~/css/style.css" />
<body >
      
	<div class="container-fluid" >
		<div class="row">
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_comida1.jpg" class="responsive" >
				<div class="capa" >
					<h3>Alimento humedo</h3>
					<p style="margin-top: 30px;">Clauder´s carne 99% de ternera suave y jugoza</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor" >
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_comida2.jpg" class="responsive" >
				<div class="capa">
					<h3>Alimento humedo</h3>
					<p style="margin-top: 30px;" >Clauder´s Salmón y trucha con granos de arroz al vapor.</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_comida3.jpg" class="responsive" >
				<div class="capa">
					<h3>Alimento humedo</h3>
					<p style="margin-top: 30px;">Clauder´s gourmet de pavo y papas exquisitez para tu perro. (Disponible en 400 gr y 800gr) </p>
				</div>
				</figure>
				</a>
			</div>

		</div>
        <div class="row">
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_juguete1.jpg" class="responsive" >
				<div class="capa">
					<h3> Juguetes</h3>
					<p style="margin-top: 30px;">Muslito de pollo dorado con sonido y aroma</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_juguete2.jpg" class="responsive" >
				<div class="capa">
					<h3>Juguetes</h3>
					<p style="margin-top: 30px;">Pelota siempre helada para perros en los días de verano</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_juguete3.jpg" class="responsive" >
				<div class="capa">
					<h3>Juguetes</h3>
					<p style="margin-top: 30px;">Soga de textura variada, resistente a mordiscos y jalones</p>
				</div>
				</figure>
				</a>
			</div>

		</div>
        <div class="row">
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_pelos.jpg" class="responsive" >
				<div class="capa">
					<h3>Cuidado e higiene</h3>
					<p style="margin-top: 30px;">Magic Furry - eliminador y juntador de pelusas de perros y gatos. (Disponible en varios tamaños)</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_shampoo.jpg" class="responsive" >
				<div class="capa">
					<h3>Cuidado e higiene</h3>
					<p style="margin-top: 30px;">Shampoo neutral para pelajes frondosos y oscuros</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Producto" asp-action="Index">
				<figure>
				<img src="/img/prod_pañales.jpg" class="responsive" >
				<div class="capa">
					<h3>Cuidado e higiene</h3>
					<p style="margin-top: 30px;">Pañales para perros de piso de carbon activado x14 unidades</p>
				</div>
				</figure>
				</a>
			</div>
		</div>
	</div>


</body>
