@{
    ViewData["Title"] = "PETLOVER-Resonancias";
}
<link rel="stylesheet" href="~/css/style.css" />

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h1>Resonancias</h1>
            <p>Hoy en día, herramientas diagnósticas como la Resonancia Magnética (RM) y la Tomografía Helicoidal Multicorte (TEM) ya se tienen a disposición en Medicina Veterinaria y sirven para ver, de una forma no invasiva, los órganos, tejidos, huesos, y otras estructuras dentro del cuerpo.</p>
            <p><b>La Resonancia Magnética </b>utiliza fuertes campos magnéticos y ondas de radio para producir imágenes internas del cuerpo. Al contrario de los rayos-X y las tomografías computarizadas, las máquinas de RM producen transversalmente imágenes en 3D del cuerpo, sin hacer uso de la radiación y se usa para diagnosticar muchos tipos de enfermedades incluyendo enfermedades del corazón y vasculares, accidentes cerebrovasculares, hernias discales, trastornos musculares y esqueléticos (de los huesos) y cáncer, entre otros.</p>
            <p><b>La Tomografía helicoidal</b> computarizada multicorte, es un método de diagnóstico por emisión de Rayos X, que permite la obtención de imágenes de las estructuras corporales por planos (a manera de rebanadas), o bien mediante reconstrucciones en forma tridimensional.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/res1.jpg" class="responsive">
            </div>
        </div>
    </div>

</body>


