@{
    ViewData["Title"] = "PetLover-Services";
}
<link rel="stylesheet" href="~/css/style.css" />
<body >
      
	<div class="container-fluid" >
		<div class="row">
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Home" asp-action="Peluqueria">
				<figure>
				<img src="/img/peluqueria.jpg" class="responsive" >
				<div class="capa" >
					<h3>Peluqueria</h3>
					<p style="margin-top: 30px;">Servicio de peluqueria y limpieza, para mantener siempre limpios a los nuestros.</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor" >
				<a asp-area="" asp-controller="Home" asp-action="Cirugia">
				<figure>
				<img src="/img/cirugia.jpg" class="responsive" >
				<div class="capa">
					<h3>Cirugia</h3>
					<p style="margin-top: 30px;" >Cirugias especializadas, desde cirugias plasticas hasta neurocirugías.</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Home" asp-action="Odontologia">
				<figure>
				<img src="/img/dentista.jpg" class="responsive" >
				<div class="capa">
					<h3>Odontologia</h3>
					<p style="margin-top: 30px;">Servicios dentales, manten la salud dental de nuestros compañeros saludables.</p>
				</div>
				</figure>
				</a>
			</div>

		</div>
        <div class="row">
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Home" asp-action="Vacunas">
				<figure>
				<img src="/img/vacuna.jpg" class="responsive" >
				<div class="capa">
					<h3>Vacunas</h3>
					<p style="margin-top: 30px;">Vacunas para mantener protegidos a los nuestros en todo momento</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Home" asp-action="Acupuntura">
				<figure>
				<img src="/img/acupuntura.jpg" class="responsive" >
				<div class="capa">
					<h3>Acupuntura</h3>
					<p style="margin-top: 30px;">Complementa nuestros servicios con acupuntura para tratar alteraciones, trastornos o rehabilitaciones.</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Home" asp-action="Dermatologia">
				<figure>
				<img src="/img/dermatologia.jpg" class="responsive" >
				<div class="capa">
					<h3>Dermatologia</h3>
					<p style="margin-top: 30px;">Al cuidado de la piel de nuestros amigos, para tratar enfermedades y alergias.</p>
				</div>
				</figure>
				</a>
			</div>

		</div>
        <div class="row">
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Home" asp-action="Cardiologia">
				<figure>
				<img src="/img/electrocardiograma.jpg" class="responsive" >
				<div class="capa">
					<h3>Cardiologia</h3>
					<p style="margin-top: 30px;">Manten un control de cardiologia de tu compañero para prevenir y tratar enfermedades relacionadas.</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Home" asp-action="Spa">
				<figure>
				<img src="/img/spa.jpg" class="responsive" >
				<div class="capa">
					<h3>Spa</h3>
					<p style="margin-top: 30px;">Engreimos a los tuyos en nuestro spa, donde nuestros especialistas les ofreceran servicio de alta calidad.</p>
				</div>
				</figure>
				</a>
			</div>
			<div class="col-md-4 contenedor">
				<a asp-area="" asp-controller="Home" asp-action="Resonancias">
				<figure>
				<img src="/img/resonancia.jpg" class="responsive" >
				<div class="capa">
					<h3>Resonancias</h3>
					<p style="margin-top: 30px;">Contamos con herramientas no invasivas de alta tecnologia para ayudar a diagnosticar a los que nos preocupan.</p>
				</div>
				</figure>
				</a>
			</div>
		</div>
	</div>


</body>


