@{
    ViewData["Title"] = "PETLOVER-Spa";
}
<link rel="stylesheet" href="~/css/style.css" />

<body style="background-color:#16191C;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h1 style="color: white;">Spa</h1>
            <p style="color: white;">Porque tu mascota merece lo mejor,PetLover cuenta con la mejor opción de estancia para mascotas en Lima y Callao.</p>
            <p style="color: white;">Cuando salgas de viaje tu mascota no tiene por qué quedarse en casa o encargada, echándote de menos, será la oportunidad de estar atendida en las manos de profesionales atendiendo sus necesidades de limpieza, alimentación, comodidad, distracción, diversión, descanso, salud y seguridad.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/spa1.jpg" class="responsive">
            </div>
        </div>
    </div>

</body>


