@{
    ViewData["Title"] = "PETLOVER";
}

<body >
<div>
	<h2>¿Qué entendemos por las vacunas?</h2>
<p> Las vacunas son antígenos preparados para ser usados en la prevención de enfermedades causadas, a los perros, gatos, aves y otro tipo de mascotas; por bacterias, virus, micoplasmas, hongos, protozoos y parásitos o sus toxinas.</p>
<p>Se establecen diferentes tipos de vacunas para animales en función del tipo de antígeno que a su vez determina el método de elaboración.</p>
</div>

<div class="container">
	<div class="row">	
		<div class="col">
		<br>
			<h3>Vacunas Vivas</h3>
			<p>Son las elaboradas con antígenos vivos sin modificar; con antígenos vivos atenuados o antígenos vivos modificados. Este tipo de vacuna confiere inmunidad rápida, pero solo son adecuadas en medio contaminado y tienen el riesgo de un posible retorno a la virulencia y del posible efecto inmunosupresor.</p>
		</div>                    
                            
	
		<div class="col">

		<img src="/img/Vacunas_Vivas.jpg" class="img-fluid" alt="Responsive image">
		</div>		
	</div>
<div class="row">	
		<div class="col">
		<br>
			<h3>Vacunas Muertas</h3>
			<p>Son las elaboradas con antígenos inactivados. Confieren inmunidad lenta y muchas requieren la incorporación de adyuvante. Están indicadas en medio sano por su inocuidad.</p>
		</div>                    
                            
	
		<div class="col">

		<img src="/img/Vacunas_Muertas.jpg" class="img-fluid" alt="Responsive image">
		</div>		
	</div>


<div class="row">	
		<div class="col">
		<br>
			<h3>Vacunas De Diseño</h3>
			<p>Son las elaboradas con subunidades, antígenos sintéticos y antiidiotipos.</p>
		</div>                    
                            
	
		<div class="col">

		<img src="/img/Vacunas_De_Diseño.jpg" class="img-fluid" alt="Responsive image">
		</div>		
	</div>

			
</div>

</body>