@{
    ViewData["Title"] = "PETLOVER";
}

<body >

<div class="container">
	<div class="row">	
		<div class="col">
		<br>
			<h3>Vacunas Vivas</h3>
			<p>Con mas de 15 años  en el tratamiento de Mascotas. Te invitamos a ser parte de nuestra enorme familia, donde brindamos tanto salud como diversion.</p>
            <p>Con nosotros aprenderas a entender mas a tu compañero, a la vez que lo cuidas de el</p>
            <p>Disfruta de todos nuestros servicios, asi como de nuestros sabemos. Recuerda, sabemos lo que es mejor para ustedes</p>
		</div>                    
                            
	
		<div class="col">

		<img src="Vacunas_Vivas.jpg" class="img-fluid" alt="Responsive image">
		</div>		
	</div>
<div class="row">	
		<div class="col">
		<br>
			<h3>Vacunas Muertas</h3>
			<p>Con mas de 15 años  en el tratamiento de Mascotas. Te invitamos a ser parte de nuestra enorme familia, donde brindamos tanto salud como diversion.</p>
            <p>Con nosotros aprenderas a entender mas a tu compañero, a la vez que lo cuidas de el</p>
            <p>Disfruta de todos nuestros servicios, asi como de nuestros sabemos. Recuerda, sabemos lo que es mejor para ustedes</p>
		</div>                    
                            
	
		<div class="col">

		<img src="Vacunas_Muertas.jpeg" class="img-fluid" alt="Responsive image">
		</div>		
	</div>


<div class="row">	
		<div class="col">
		<br>
			<h3>Vacunas De Diseño</h3>
			<p>Con mas de 15 años  en el tratamiento de Mascotas. Te invitamos a ser parte de nuestra enorme familia, donde brindamos tanto salud como diversion.</p>
            <p>Con nosotros aprenderas a entender mas a tu compañero, a la vez que lo cuidas de el</p>
            <p>Disfruta de todos nuestros servicios, asi como de nuestros sabemos. Recuerda, sabemos lo que es mejor para ustedes</p>
		</div>                    
                            
	
		<div class="col">

		<img src="Vacunas_De_Diseño.jpeg" class="img-fluid" alt="Responsive image">
		</div>		
	</div>

			
</div>

</body>