@{
    ViewData["Title"] = "PETLOVER";
}

<body >

<div class="container">
	<div class="row">	
		<div class="col">
		<br>
							<h3>Vacunas Vivas</h3>
							<p>Con mas de 15 años  en el tratamiento de Mascotas. Te invitamos a ser parte de nuestra enorme familia, donde brindamos tanto salud como diversion.</p>
                            <p>Con nosotros aprenderas a entender mas a tu compañero, a la vez que lo cuidas de el</p>
                            <p>Disfruta de todos nuestros servicios, asi como de nuestros sabemos. Recuerda, sabemos lo que es mejor para ustedes</p>
		</div>                    
                            
	
		<div class="col">
		
		<img src="Vacunas_Vivas.jpg" class="img-fluid" alt="Responsive image">
		</div>		
	</div>

	
<div class="column">
			
		</div>
		<div class="column">
			<div class="col">
				<div class="style-grid-2-text_info">
					<h3></h3>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sequi laboriosam perspiciatis sapiente porro facere nam, voluptas, nesciunt illo aliquid voluptatem voluptatibus, in culpa exercitationem. Accusamus tenetur in illum fuga?/p>
					<div class="shop-button">
						<a href="">Vacunas</a>
					</div>
				</div>
			</div>
			
		</div>
		<div class="clearfix"></div>
	</div>
	</div>

	<div class="column">
			<div class="col">
			<div class="col-md-6 grids_sec_2_left">
				<div class="grid_sec_info">
					<div class="style-grid-2-text_info">
						<h3>Vacunas Muertas</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim vero, odio impedit mollitia laboriosam assumenda dignissimos distinctio perspiciatis incidunt minima ipsam harum? Similique ex pariatur sed alias incidunt soluta reiciendis.</p>
						<div class="shop-button">
							<a href="">Vacunas</a>
						</div>
					</div>
				</div>
				<div class="style-image-2">
					<img src="Vacunas_Muertas.jpeg" alt="shoe">
					<div class="style-grid-2-text">
						<h3></h3>
					</div>
				</div>
			</div>
			<div class="col-md-6 grids_sec_2_left">

				
				<div class="grid_sec_info last">
					<div class="style-grid-2-text_info">
						<h3>Vacunas de Diseño</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veniam eaque rem eos, neque, nobis aperiam voluptates nam magnam consequuntur saepe tenetur laboriosam molestiae illum facere nisi illo sed libero.</p>
						<div class="shop-button two">
							<a href="">Vacunas</a>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
			
</div>

</body>