@{
    ViewData["Title"] = "PETLOVER";
}

<body >


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4">
				<img src="/img/Vacuna.jpg" class="responsive" height="500px" width="500px">
			</div>
			<div class="col-md-4">
				<img src="/img/dentista.jpg" class="responsive" height="500px" width="500px">
			</div>
			<div class="col-md-4">
				<img src="/img/peluqueria.jpg" class="responsive" height="500px" width="500px">
			</div>

		</div>
	</div>

</body>


