@model PetLover.Models.Registro
@{
    ViewData["Title"] = "Registro";
    Layout=null;
}
<html>
<head>
    <title>Contactanos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid fond">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-sm-4 col-xs-12">

                <form asp-action="Registro" class="form-container" method="POST">
                    <h1>REGISTRARTE</h1>
                    <div asp-validation-summary="All">
                    </div>
                    <div>

                    </div>
                    <div class="col-3">
                        
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input  class="form-control"  placeholder="Nombre" asp-for="nombre">
                        </div>
                        
                        <div class="form-group">
                            <label for="Apellido">Apellido</label>
                            <input  class="form-control" placeholder="Apellido" asp-for="apellido">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control"  placeholder="Email" asp-for="email" >
                    </div>

                    <div class="form-group">
                        <label for="contrase単a">Contrase単a nueva</label>
                        <input class="form-control" placeholder="Contrase単a" asp-for="contrase単a">
                    </div>

                    <div class="form-group">
                        <label for="fecha">Fecha de nacimiento</label>
                        <input class="form-control" value="23/01/1998" placeholder="23/01/1998" asp-for="fecha">
                    </div>

                    @*<div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label">Date</label>
                    <div class="col-10">
                        <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
                    </div>
                    </div> *@

                    <div class="form-group">
                        <label for="fecha">Sexo</label>
                        <div>
                            @*<label for="sexo" class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" value="F" id="sexo" required> Femenino
                            </label>
                            <label for="sexo" class="form-check form-check-inline"></label>
                                <input type="radio" class="form-check-input" value="M" id="sexo" required> Masculino
                            </label>*@
                            <label><input type="radio" name="sexo" value="F" id="sexo" required> Femenino</label>
                            <label><input type="radio" name="sexo" value="M" id="sexo" required> Masculino</label>
                        </div>
                        
                    </div>

                    @*<div class="form-check form-check-inline">
                    <label class="form-check-label">
                        <input class="" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
                    </label>
                    </div> *@
                    
                    <button class="btn btn-success btn-block" >Ponte en Contacto</button>

                </form>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-12"></div>
   
</body>